.detailsContainer {
  margin: 1em;
}
.header {
  text-align: center;
  border-bottom: 2px solid grey;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.trip {
  width: 100%;
}

.genInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 1rem;
}
.nextStop {
  font-size: 1.2rem;
}
.nextStopTime {
  padding: .2rem;
  border-radius: 5px;
  mix-blend-mode: hard-light;
}
.fromTo {
  text-align: center;
}

.previousStop {
  color: #cccccc;
}

.currentStop {
  font-weight: bold;
}

.trainLink {
  color: rgb(66, 165, 245);
  cursor: pointer;
}

.map {
  width: 100%;
  height: 50vh;
}

.additionalDetails {
  margin-top: 2vh;
  overflow-x: auto;
}
.trainOrder {
  height: 10em;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  font-size: 0.6vw;
  margin-bottom: 2.5em;
}

.controlCar {

  padding-left: 2em;

  border: 1px solid #FFFFFF;
  border-radius: 5em 1em .5em .5em;
}
.controlCar.flipped {
  padding-left: 0;
  padding-right: 0.5em;
}
.flipped {
  padding-left: 1em;
  border-radius: 1em 5em .5em .5em;
}

.middleCar {
  border: 1px solid #FFFFFF;
  border-radius: 1em 1em .8em .8em;
}

.coach {
  box-sizing: border-box;
  width: 15em;
  height: 6em;
  display: flex;
  flex-direction: column;
}

.locoContainer {
  display: flex;
  flex-direction: column;
}


.locomotive {
  width: 21em;
  height: 8em;
}

.powercarContainerTop {
  margin-top: .15em;
  height: 11em;
  width: 20em;
}

.powercarContainer {
  display: flex;
  flex-direction: column;
  height: 10em;
}

.powercar {
  width: 20em;
  height: 100%;
}
.flippedPowercar path {
  transform: scaleX(-1);
  transform-origin: center;
}
.flippedPowercar text {
  transform: scaleX(1);
}

.locoDetails {
    font-size: 2em;
  }

.coachDetails {
  padding: 1em;
}
.section {
  text-align: center;
  margin-top: 1.5em;
}
.br {
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
}
.brContainer {
  display: flex;
  flex-direction: column;
}
.cancelledTrain {
  color: rgb(216, 137, 48);
}

.arrow-icon {
  display: inline-block;
  margin-left: 5px;
  cursor: pointer;
}

.arrow-down {
  transform: rotate(180deg);
}
.arrow-right {
  transform: rotate(-90deg);
}
.loading {
  margin-top: 25%;
  margin-left: 50%;
    display: flex;
    align-items: center;
}
.loader {
  border: 4px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  border-top: 4px solid #3498db;
  width: 24px;
  height: 24px;
  animation: spin 2s linear infinite;
  margin-right: 10px;
}
.occupancyContainer {
  display: flex;
  align-items: center;
  text-align: center;
}
.occupancy {
  margin: .25em;
  width: 20px;
}
.checkInBtn {
  background-color: #3498db;
  border: none;
  border-radius: .5em;
  color: white;
  padding: 5px;
}
.checkInBtn:hover {
  cursor: pointer;
  color: var(--bg-darker);
  background-color: var(--accent);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (min-width: 300px) and (max-width: 1100px) {
  .loading {
    margin-left: 35vw;
  }
  .arr {
    text-align: left;
  }

  .dep {
    text-align: right;
  }
  .trainOrder {
    font-size: 2vw;
  }
  .coach {
    padding: 3px;
  }
  .powercarContainer {
    margin-top: 0;
    height: 11em;
  }
  .powercar {
    width: 18em;
    margin-top: .4vw;
  }
  
}
