.homeContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 25vw;
    position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}
.input{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.stationInput {
    background-color: var(--secondary);
    color: var(--text-white);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
}
.stationSubmit{
    background-color: var(--accent);
    color: var(--text-white);
    border: none;
    padding: 14px 20px;
    width: 60%;
    margin: auto;
    margin-top: 8px;
    border-radius: 0.4em;
    cursor: pointer;
    transition: 0.1s ease 0s;
}
.stationSubmit:hover {
    background-color: var(--highlight);
    width: 100%;
    border-radius: 0.8em;
}
.suggestionsContainer {
    width: 100%;
    color: var(--text-white);
    background-color: var(--secondary);

}
.suggestionsLoading {
    width: 100%;
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}
.suggestion{
    padding: 2.5px;
    margin-bottom: 1.5px;
}
.suggestion:hover {
    background-color: rgb(196, 196, 196);
    cursor: pointer;
}
.title{
    font-size: 2vw;
}
.homeFooter {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: small;
}
.link {
    color: var(--accent);
    text-decoration: none;
    margin: 0 .1em 0 .5em;
}
@media only screen and (max-width: 600px){
    .title {
        font-size: 110%;
    }
    .homeContainer {
        width: 80vw;
    }
}