@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
:root {
    color-scheme: dark;
    --accent-color: #649DB1
}
body{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}