.error {
    margin: 10px;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.errButton {
    background-color: var(--accent-color);
    border: none;
    padding: 14px 20px;
    margin: 8px 0;
    border-radius: 4px;
    cursor: pointer;
}

.stop {
    list-style: none;
}

.heading {
    background-color: var(--accent-color);
    margin: 0;
    padding: 15px;
    cursor: pointer;
}

.stops {
    margin: 0;
}

.stopRow {
    font-size: 0.8vw;
    padding: 10px;
    border-bottom: 1px solid gray;
    display: grid;
    height: 12vh;
    align-items: center;
    overflow-y: hidden;
    grid-template-columns: 1fr 1.8fr 0.6fr 0.4fr;
    grid-template-rows: 0.4fr auto;
    gap: 0px 3vw;
    grid-template-areas:
        ". messages . ."
        "line direction info platform";
}

.line {
    border-radius: 7px;
    padding: 10px;
}

.lineContainer {
    display: flex;
    align-items: center;
    grid-area: line;
    max-width: 80%;
}

.delayCause {
    color: #e91d1d;
}

.direction {
    grid-area: direction;
    display: flex;
    align-items: center;
    font-weight: 550;
}


.info {
    display: flex;
    flex-direction: column;
    grid-area: info;
}

.when {
    grid-area: when;
}

.originalTime {
    grid-area: originalTime;
    text-decoration: line-through;
    color: rgb(138, 255, 127);
}

.platform {
    grid-area: platform;
    margin-right: 2px;
    font-weight: bold;
}

.messages {
    overflow: hidden;
    grid-area: messages;
}
.delayCause {
    display: inline-block;
    white-space: nowrap;
}
#scrollAnimation {
    animation: scroll 20s linear infinite;
}

.cancelled {
    background-color: #915400;
}

@keyframes scroll {
    0%, 1% {
        transform: translateX(110%);
    }
    99%,100% {
        transform: translateX(-110%);
    }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
    .stopsContainer {
        max-width: 70vw;
        margin: auto;
    }
    .stopRow {
        font-size: 1vw;
    }
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
    .stopRow {
        font-size: 3.5vw;
        height: 14vh;
        grid-template-rows: 0.2fr auto;
    }
    .stops{
        padding: 10px;
    }
}