.error {
  margin: 10px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.errButton {
  background-color: var(--accent);
  color: var(--text-white);
  border: none;
  padding: 14px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.1s ease 0s;
}
.errButton:hover {
  background-color: var(--highlight);
}

.stop {
  list-style: none;
}

.pageHeader {
  background-color: var(--accent);
  margin: 0;
  height: 7vh;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  z-index: 98;
}
.headerIcons {
  margin-right: 10em;
}
.headerIcon {
  margin: 0 1em 0 1em;
}
.settingsIcon:hover {
  cursor: pointer;
  -webkit-animation: spin 0.5s cubic-bezier();
  -moz-animation: spin 0.5s cubic-bezier();
  animation: spin 0.5s normal;
  transition: ease-in-out;
}

.settingsModal {
  position: absolute;
  left: 85vw;
  margin-right: 1em;
  width: 25vw;
  padding: 15px;
  transform: translateX(-50%);
  background: var(--secondary);
  border-radius: 0.8em;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding-left: 2em;
  z-index: 99;
}
.refreshRate {
  background-color: var(--background);
  border: none;
  color: white;
}
.save {
  border: none;
  border-radius: 1rem;
  padding: .5rem;
  color: white;
  background-color: var(--accent);
}
.settingsHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.exit {
    margin-right: 2em;
    cursor: pointer;
}
.selectOption {
    background-color: var(--background);
    color: var(--text-white);
    border: none;
    border-radius: .5em;
    padding: 5px;
    margin-right: .3rem;
}

.stops {
  margin: 0;
  background-color: var(--background);
}
.stopRow {
  cursor: pointer;
  font-size: 0.8vw;
  padding: 10px;
  border-bottom: 1px solid gray;
  display: grid;
  height: 12vh;
  align-items: center;
  overflow-y: hidden;
  grid-template-columns: 1fr 1.8fr 0.6fr 0.4fr;
  grid-template-rows: 0.4fr auto;
  gap: 0px 3vw;
  grid-template-areas:
    '. messages . .'
    'line direction info platform';
}

.line {
  border-radius: 7px;
  padding: 10px;
}

.lineContainer {
  display: flex;
  align-items: center;
  grid-area: line;
  max-width: 80%;
}

.delayCause {
  color: var(--highlight);
}

.direction {
  grid-area: direction;
  display: flex;
  align-items: center;
  font-weight: 550;
}

.info {
  display: flex;
  flex-direction: column;
  grid-area: info;
}

.when {
  grid-area: when;
}

.originalTime {
  grid-area: originalTime;
  text-decoration: line-through;
  color: rgb(138, 255, 127);
}

.platform {
  grid-area: platform;
  margin-right: 2px;
  font-weight: bold;
}

.messages {
  overflow: hidden;
  grid-area: messages;
}
.delayCause {
  display: inline-block;
  white-space: nowrap;
}
#scrollAnimation {
  animation: scroll 20s linear infinite;
}

.cancelled {
  background-color: #915400;
}
.hasLeft {
    background-color: rgba(184, 175, 175, 0.199);
}

@keyframes scroll {
  0%,
  1% {
    transform: translateX(110%);
  }
  99%,
  100% {
    transform: translateX(-110%);
  }
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(40deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(40deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(40deg);
  }
}

@media only screen and (min-width: 800px) and (max-width: 1100px) {
  .stopsContainer {
    max-width: 70vw;
    margin: auto;
  }
  .stopRow {
    font-size: 1vw;
  }
}

@media only screen and (min-width: 300px) and (max-width: 800px) {
  .stopRow {
    font-size: 3.5vw;
    height: 14vh;
    grid-template-rows: 0.2fr auto;
  }
  .stops {
    padding: 10px;
  }
  .pageHeader {
    height: 10vh;
  }
  .headerIcon {
    margin: 0 1rem 0 1rem;
  }
  .headerIcons {
    margin: 0;
    text-align: center;
  }
  .settingsModal {
    left: 65vw;
    width: 70%;
  }
}
