@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #FEFCFD;
  --foreground: #1E1E24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1E1E24;
    --foreground: #FEFCFD;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
